<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bootcamp.wineapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WineApp</name>
    <description>
        Wine manager application
    </description>
    <author email="arsood@gmail.com" href="http://bavc.org">
        Arun Sood
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
