<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bootcamp.wineapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WhereIsFriend</name>
    <description>
        Find friends locations in SF.  Shows the time of each friend's update, too.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Scot Campbell and Angel Roa Gomez
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
